<div class="content">
    <h1 class="article-title">
        <a href="{{ .ctx.Permalink }}">
            {{ .ctx.Title }}
        </a>
    </h1>

    <div class="meta">
        {{ if ( .ctx.Params.showDate | default true ) }}
            {{ if ( .ctx.Site.Params.enableMomentJs | default true ) }}
                <span class="date moment">{{ .ctx.PublishDate.Format "2006-01-02" }}</span>
            {{ else }}
                <span class="date">{{ .ctx.PublishDate.Format (.ctx.Site.Params.DateFormat | default "2006-01-02") }}</span>
            {{ end }}
        {{ end }}
    </div>

    {{ if or (eq .template_type "single") (.ctx.Params.noSummary) }}
        {{ .ctx.Content }}
    {{ else }}
        {{ .ctx.Summary }}

        {{ if or (.ctx.Truncated) (isset .ctx.Params "summary") }}
            <a href="{{ .ctx.Permalink }}" class="more">{{ i18n "continueReading" }}</a>
        {{ end }}
    {{ end }}
</div>
